# Import Libraries

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Set visualization style for plots
sns.set_style("whitegrid")

# Set display options for better readability
pd.set_option("display.max_colwidth", None)

# Load Dataset Files

In [2]:
# Load file containing dataset features
features = pd.read_csv(
    "Datasets/UNSW-NB15 - Features.csv",
    encoding="latin-1"
)

# Preview DataFrame
features.head()

   No.    Name    Type               Description
0    1   srcip  nominal        Source IP address
1    2   sport  integer       Source port number
2    3   dstip  nominal   Destination IP address
3    4  dsport  integer  Destination port number
4    5   proto  nominal     Transaction protocol

In [3]:
# Load all 4 data files
df1 = pd.read_csv(
    "Datasets/UNSW-NB15 - 1.csv",
    header=None,
    low_memory=False
)
df2 = pd.read_csv(
    "Datasets/UNSW-NB15 - 2.csv",
    header=None,
    low_memory=False
)
df3 = pd.read_csv(
    "Datasets/UNSW-NB15 - 3.csv",
    header=None,
    low_memory=False
)
df4 = pd.read_csv(
    "Datasets/UNSW-NB15 - 4.csv",
    header=None,
    low_memory=False
)

# Preview first data file
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0

# Combine Dataset Files

In [4]:
# Combine all dataframes using concatenation
df = pd.concat(
    [df1, df2, df3, df4],
    ignore_index=True
)

# Preview combined DataFrame
df.head()

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0

# Change Column Headers

In [5]:
# Get column headers for combined DataFrame from 'features'
column_names = features["Name"].tolist()
print(f"Column names: {column_names}")

# Change column headers
df.columns = column_names

# Preview complete combined DataFrame
df.head()

Column names: ['srcip', 'sport', 'dstip', 'dsport', 'proto', 'state', 'dur', 'sbytes', 'dbytes', 'sttl', 'dttl', 'sloss', 'dloss', 'service', 'Sload', 'Dload', 'Spkts', 'Dpkts', 'swin', 'dwin', 'stcpb', 'dtcpb', 'smeansz', 'dmeansz', 'trans_depth', 'res_bdy_len', 'Sjit', 'Djit', 'Stime', 'Ltime', 'Sintpkt', 'Dintpkt', 'tcprtt', 'synack', 'ackdat', 'is_sm_ips_ports', 'ct_state_ttl', 'ct_flw_http_mthd', 'is_ftp_login', 'ct_ftp_cmd', 'ct_srv_src', 'ct_srv_dst', 'ct_dst_ltm', 'ct_src_ ltm', 'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'attack_cat', 'Label']

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0

# Data Profiling

In [6]:
# View number of features and records in the DataFrame
number_of_initial_features = df.shape[1]
number_of_initial_records = df.shape[0]
print(f"Total number of features: {number_of_initial_features}")
print(f"Total number of records: {number_of_initial_records}")

Total number of features: 49
Total number of records: 2540047

In [7]:
# View DataFrame info
print(df.info())

<class 'pandas.DataFrame'>
RangeIndex: 2540047 entries, 0 to 2540046
Data columns (total 49 columns):
 #   Column            Dtype
---  ------            -----
 0   srcip             str
 1   sport             object
 2   dstip             str
 3   dsport            str
 4   proto             str
 5   state             str
 6   dur               float64
 7   sbytes            int64
 8   dbytes            int64
 9   sttl              int64
 10  dttl              int64
 11  sloss             int64
 12  dloss             int64
 13  service           str
 14  Sload             float64
 15  Dload             float64
 16  Spkts             int64
 17  Dpkts             int64
 18  swin              int64
 19  dwin              int64
 20  stcpb             int64
 21  dtcpb             int64
 22  smeansz           int64
 23  dmeansz           int64
 24  trans_depth       int64
 25  res_bdy_len       int64
 26  Sjit              float64
 27  Djit              float64
 28  Stime             int64
 29  Ltime             int64
 30  Sintpkt           float64
 31  Dintpkt           float64
 32  tcprtt            float64
 33  synack            float64
 34  ackdat            float64
 35  is_sm_ips_ports   int64
 36  ct_state_ttl      int64
 37  ct_flw_http_mthd  float64
 38  is_ftp_login      float64
 39  ct_ftp_cmd        object
 40  ct_srv_src        int64
 41  ct_srv_dst        int64
 42  ct_dst_ltm        int64
 43  ct_src_ ltm       int64
 44  ct_src_dport_ltm  int64
 45  ct_dst_sport_ltm  int64
 46  ct_dst_src_ltm    int64
 47  attack_cat        str
 48  Label             int64
dtypes: float64(12), int64(28), object(2), str(7)
memory usage: 949.6+ MB
None

In [8]:
# View DataFrame statistics
print(df.describe())

                dur        sbytes        dbytes          sttl          dttl  \
count  2.540047e+06  2.540047e+06  2.540047e+06  2.540047e+06  2.540047e+06
mean   6.587916e-01  4.339600e+03  3.642759e+04  6.278197e+01  3.076681e+01
std    1.392493e+01  5.640599e+04  1.610960e+05  7.462277e+01  4.285089e+01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    1.037000e-03  2.000000e+02  1.780000e+02  3.100000e+01  2.900000e+01
50%    1.586100e-02  1.470000e+03  1.820000e+03  3.100000e+01  2.900000e+01
75%    2.145545e-01  3.182000e+03  1.489400e+04  3.100000e+01  2.900000e+01
max    8.786638e+03  1.435577e+07  1.465753e+07  2.550000e+02  2.540000e+02

              sloss         dloss         Sload         Dload         Spkts  \
count  2.540047e+06  2.540047e+06  2.540047e+06  2.540047e+06  2.540047e+06
mean   5.163921e+00  1.632944e+01  3.695645e+07  2.450861e+06  3.328884e+01
std    2.251707e+01  5.659474e+01  1.186043e+08  4.224863e+06  7.628388e+01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00  1.353963e+05  1.191594e+04  2.000000e+00
50%    3.000000e+00  4.000000e+00  5.893038e+05  5.893179e+05  1.200000e+01
75%    7.000000e+00  1.400000e+01  2.039923e+06  2.925974e+06  4.400000e+01
max    5.319000e+03  5.507000e+03  5.988000e+09  1.287619e+08  1.064600e+04

       ...  ct_flw_http_mthd  is_ftp_login    ct_srv_src    ct_srv_dst  \
count  ...      1.191902e+06  1.110168e+06  2.540047e+06  2.540047e+06
mean   ...      2.345856e-01  3.969940e-02  9.206988e+00  8.988958e+00
std    ...      7.940924e-01  1.996589e-01  1.083676e+01  1.082249e+01
min    ...      0.000000e+00  0.000000e+00  1.000000e+00  1.000000e+00
25%    ...      0.000000e+00  0.000000e+00  2.000000e+00  2.000000e+00
50%    ...      0.000000e+00  0.000000e+00  5.000000e+00  5.000000e+00
75%    ...      0.000000e+00  0.000000e+00  1.000000e+01  1.000000e+01
max    ...      3.600000e+01  4.000000e+00  6.700000e+01  6.700000e+01

         ct_dst_ltm   ct_src_ ltm  ct_src_dport_ltm  ct_dst_sport_ltm  \
count  2.540047e+06  2.540047e+06      2.540047e+06      2.540047e+06
mean   6.439103e+00  6.900986e+00      4.642139e+00      3.592729e+00
std    8.162034e+00  8.205062e+00      8.477579e+00      6.174445e+00
min    1.000000e+00  1.000000e+00      1.000000e+00      1.000000e+00
25%    2.000000e+00  2.000000e+00      1.000000e+00      1.000000e+00
50%    3.000000e+00  4.000000e+00      1.000000e+00      1.000000e+00
75%    6.000000e+00  7.000000e+00      2.000000e+00      1.000000e+00
max    6.700000e+01  6.700000e+01      6.700000e+01      6.000000e+01

       ct_dst_src_ltm         Label
count    2.540047e+06  2.540047e+06
mean     6.845886e+00  1.264870e-01
std      1.125828e+01  3.323975e-01
min      1.000000e+00  0.000000e+00
25%      1.000000e+00  0.000000e+00
50%      2.000000e+00  0.000000e+00
75%      5.000000e+00  0.000000e+00
max      6.700000e+01  1.000000e+00

[8 rows x 40 columns]

In [9]:
# View traffic type distribution
print(df["Label"].value_counts())

Label
0    2218764
1     321283
Name: count, dtype: int64

In [10]:
# View attack category distribution
print(df["attack_cat"].value_counts())

attack_cat
Generic             215481
Exploits             44525
 Fuzzers             19195
DoS                  16353
 Reconnaissance      12228
 Fuzzers              5051
Analysis              2677
Backdoor              1795
Reconnaissance        1759
 Shellcode            1288
Backdoors              534
Shellcode              223
Worms                  174
Name: count, dtype: int64